.container {
  display: flex;
  justify-content: space-between;
  /* align-items: center;  */
}

.side-div {
  /* Styles for the side div */
}

.middle-div {
  /* margin-left: auto; 
  margin-right: auto; 
  text-align: center;  */
  flex-grow: 1;
  text-align: center;
}
