.App {
  text-align: center;
  text-decoration: none;
}

.navbar{
  background-color: rgb(71, 61, 80);
  color: white;
  display: flex;
  padding: 35px;
  /* margin-bottom: 10px; */
  justify-content: space-between;
 
 
}
.navbar-links{
  display: flex;
}

.navbar-element{
  padding: 0.2em 0.5em;
  cursor: pointer;
  
}

.sidebar-element{
  display: block;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  color:antiquewhite;
  text-decoration:none
  
}

.home{
  text-align: center;
  text-decoration: solid;
}

.navbar-logo{
  padding: 0.2em 0.5em;
  height: 50px;
  width: auto;
  align-self: start;
}


.bodypage{
  display: flex;
  min-height: 50em;

}

.sidebar{
  background-color: rgb(53, 53, 2);
  color:aquamarine;
  height: auto;
  width: auto;
  padding: 0.5em;
}



/* Container for the application form */
.card{
  width: 75%; 
  margin: 50px auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}


.textItem{
  margin-right:2em;
  padding: 1em;
}


.errorMsg {
  color: #dc3545;
  margin-top: 5px;
}


.form-control{
  text-align:left;
  padding: 0.5em 0.5em;
}

.form-control button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
}

.form-control button:disabled {
  background-color: #ccc; /* Light gray for disabled state */
  cursor: not-allowed; /* Not allowed cursor */
}

.form-control button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
@tailwind base;
@tailwind components;
@tailwind utilities;